<%- include ../navigation.ejs %>

<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <h2>Generated Token</h2>
      </div>
    </div>

    <% tokens.forEach(function(token, index){ %>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Application Details
          </div>

          <div class="panel-body">
            <div class="col-md-12">

              <form class="form-horizontal">

                <div class="form-group">
                  <label class="col-sm-3 control-label">Application Name</label>

                  <div class="col-sm-9">
                    <p class="form-control-static"><%= token.appName %></p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Consumer Key</label>

                  <div class="col-sm-9">
                    <p class="form-control-static"><%= token.consumerKey %></p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Consumer Secret</label>

                  <div class="col-sm-9">
                    <p class="form-control-static"><%= token.consumerSecret %></p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Owner</label>

                  <div class="col-sm-3">
                    <p class="form-control-static"><%= token.owner %></p>
                  </div>
                  <label class="col-sm-2 control-label">Owner</label>

                  <div class="col-sm-3">
                    <p class="form-control-static"><%= token.ownerId %></p>
                  </div>
                </div>

              </form>

            </div>
          </div>

          <!-- .panel-heading -->
          <div class="panel-body">
            <div class="panel-group" id="accordion">

              <% token.accessTokens.forEach(function(accessToken, index){ %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#<%= index %>"><%= index %></a>
                  </h4>
                </div>
                <div id="<%= index %>" class="panel-collapse collapse <% if (index === 0) { %>in<% } %>">
                  <div class="panel-body">
                    <div class="col-md-12">

                      <form class="form-horizontal">

                        <div class="form-group">
                          <label class="col-sm-3 control-label">Access Token</label>

                          <div class="col-sm-9">
                            <p class="form-control-static"><%= accessToken.accessToken %></p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">Access Token Secret</label>

                          <div class="col-sm-9">
                            <p class="form-control-static"><%= accessToken.accessTokenSecret %></p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">User ID</label>

                          <div class="col-sm-3">
                            <p class="form-control-static"><%= token.userId %></p>
                          </div>
                          <label class="col-sm-2 control-label">Screen Name</label>

                          <div class="col-sm-3">
                            <p class="form-control-static"><%= accessToken.screenName %></p>
                          </div>
                        </div>

                      </form>

                    </div>
                  </div>
                </div>
              </div>
              <% }) %>

            </div>
          </div>
          <!-- .panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <% }); %>

  </div>
</div>