<%- include ../navigation.ejs %>

<!-- Page Content -->
<div id="page-wrapper" ng-app="TokenModule">
  <div class="container-fluid" ng-controller="GeneratedTokenListCtrl">

    <div class="row">
      <div class="col-md-12">
        <h2><%= title %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Social Application List</h3>
      </div>
      <div class="col-md-12">
        <table id="app-list" cellspacing="0" width="100%"></table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Token List</h3>
      </div>
      <div class="col-md-12">
        <table id="token-list" cellspacing="0" width="100%"></table>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  window.tokens = <%- JSON.stringify(tokens) %>;
</script>