<%- include ../navigation.ejs %>

<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Token Generator</h1>
      </div>
    </div>

    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#twitter" data-toggle="tab">Twitter</a></li>
        <li><a href="#facebook" data-toggle="tab">Facebook</a></li>
        <li><a href="#linkedin" data-toggle="tab">LinkedIn</a></li>
        <li><a href="#instagram" data-toggle="tab">Instagram</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane fade in active" id="twitter">
          <h4>Tutorial</h4>

          <div class="col-lg-12">

            <div class="col-md-6">

              <ol>
                <li>Login to your twitter account and go to <a href="https://apps.twitter.com" target="_blank">Twitter
                    Application Management</a>
                </li>
                <li>Create an application and make sure it's <strong>Callback URL</strong> is not empty (you can change
                  Callback URL later programatically)
                </li>
                <li>Make sure to set <strong>permissions</strong> correctly according to your need</li>
                <li>Then fill the form in the right side and begin requesting an access tokens</li>
              </ol>

            </div>

            <div class="col-md-6">

              <form action="/token/twitter" method="post">

                <div class="form-group">
                  <label>Application Name</label>
                  <input type="text" class="form-control" placeholder="application name" name="app_name">
                </div>

                <div class="form-group">
                  <label>Consumer Key</label>
                  <input type="text" class="form-control" placeholder="consumer key" name="consumer_key" required>
                </div>

                <div class="form-group">
                  <label>Consumer Secret</label>
                  <input type="text" class="form-control" placeholder="consumer secret" name="consumer_secret"
                         required>
                </div>

                <div class="form-group">
                  <label>Owner</label>
                  <input type="text" class="form-control" placeholder="owner" name="owner">
                </div>

                <div class="form-group">
                  <label>Owner ID</label>
                  <input type="text" class="form-control" placeholder="owner id" name="owner_id">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
              </form>

            </div>
          </div>

        </div>

        <div class="tab-pane fade in" id="facebook">

          <h4>Tutorial</h4>

          <div class="col-lg-12">

            <div class="col-md-6">

              <ol>
                <li>Login to your Facebook account and go to <a href="https://developers.facebook.com/apps/">Application
                    Management</a></li>
                <li>Add new client and copy it's client id and client secret to form in right side</li>
              </ol>

            </div>

            <div class="col-md-6">

              <form action="/token/facebook" method="post">

                <div class="form-group">
                  <label>Application Name</label>
                  <input type="text" class="form-control" placeholder="application name" name="app_name">
                </div>

                <div class="form-group">
                  <label>Client ID</label>
                  <input type="text" class="form-control" placeholder="consumer key" name="consumer_key" required>
                </div>

                <div class="form-group">
                  <label>Client Secret</label>
                  <input type="text" class="form-control" placeholder="consumer secret" name="consumer_secret"
                         required>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
              </form>

            </div>
          </div>

        </div>

        <div class="tab-pane fade in" id="linkedin">

          <h4>Tutorial</h4>

          <div class="col-lg-12">

            <div class="col-md-6">

              <ol>
                <li>Login to your LinkedIn account and go to <a href="https://www.linkedin.com/secure/developer/">LinkedIn
                    Secure Developer</a></li>
                <li>Add new client and copy it's client id and client secret to form in right side</li>
              </ol>

            </div>

            <div class="col-md-6">

              <form action="/token/linkedin" method="post">

                <div class="form-group">
                  <label>Application Name</label>
                  <input type="text" class="form-control" placeholder="application name" name="app_name">
                </div>

                <div class="form-group">
                  <label>Client ID</label>
                  <input type="text" class="form-control" placeholder="consumer key" name="consumer_key" required>
                </div>

                <div class="form-group">
                  <label>Client Secret</label>
                  <input type="text" class="form-control" placeholder="consumer secret" name="consumer_secret"
                         required>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
              </form>

            </div>
          </div>

        </div>

        <div class="tab-pane fade in" id="instagram">

          <h4>Tutorial</h4>

          <div class="col-lg-12">

            <div class="col-md-6">

              <ol>
                <li>Login to your Instagram account and go to <a href="https://instagram.com/developer/clients/manage/">Application
                    Clients Management</a></li>
                <li>Add new client and copy it's client id and client secret to form in right side</li>
              </ol>

            </div>

            <div class="col-md-6">

              <form action="/token/instagram" method="post">

                <div class="form-group">
                  <label>Application Name</label>
                  <input type="text" class="form-control" placeholder="application name" name="app_name">
                </div>

                <div class="form-group">
                  <label>Client ID</label>
                  <input type="text" class="form-control" placeholder="consumer key" name="consumer_key" required>
                </div>

                <div class="form-group">
                  <label>Client Secret</label>
                  <input type="text" class="form-control" placeholder="consumer secret" name="consumer_secret"
                         required>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
              </form>

            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>