<%- include navigation.ejs %>

<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div>

  Welcome to NoLimit Technical Tools. Current repository at <a href="https://bitbucket.org/nolimitid/technical-tools"
                                                               target="_blank">BitButcket</a>

</div>
<!-- /#page-wrapper -->
