<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/vendor/angular-csp.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap-social.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/vendor/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/styles/vendor/metisMenu.min.css">
    <link rel="stylesheet" href="/styles/vendor/morris.css">
    <link rel="stylesheet" href="/styles/vendor/pnotify.custom.min.css">
    <link rel="stylesheet" href="/styles/vendor/sb-admin-2.css">
    <link rel="stylesheet" href="/styles/vendor/timeline.css">
    <!--STYLES END-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
  <div id="wrapper">
    <%- body %>
  </div>
  <!-- /#wrapper -->


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/app/instagram.js"></script>
    <script src="/js/app/linkedin.js"></script>
    <script src="/js/app/object.js"></script>
    <script src="/js/app/token.js"></script>
    <script src="/js/app/twitter.js"></script>
    <script src="/js/app/user.js"></script>
    <script src="/js/app/youtube.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/jquery.serialize-object.min.js"></script>
    <script src="/js/vendor/lodash.min.js"></script>
    <script src="/js/vendor/metisMenu.min.js"></script>
    <script src="/js/vendor/morris.min.js"></script>
    <script src="/js/vendor/pnotify.custom.min.js"></script>
    <script src="/js/vendor/raphael-min.js"></script>
    <script src="/js/vendor/sb-admin-2.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
