<%- include ../navigation.ejs %>

<!-- Page Content -->
<div id="page-wrapper" ng-app="UserModule">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">User Profile</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row" ng-controller="UserProfileCtrl">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Basic Profile
          </div>
          <div class="panel-body">

            <div class="alert alert-danger" role="alert">Please provide your basic profile information.</div>

            <div class="row">
              <div class="col-lg-12">

                <form name="form">

                  <div class="form-group">
                    <label>User ID</label>
                    <input class="form-control" value="<%= user.id %>"
                           ng-model="data.userId"
                           disabled>
                  </div>

                  <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" value="<%= user.username %>"
                           ng-model="data.username"
                           required>
                  </div>

                  <div class="form-group">
                    <label>E-Mail</label>
                    <input class="form-control" type="email" value="<%= user.email ? user.email : '' %>"
                           ng-model="data.email"
                           required>
                  </div>

                  <% if (!local) { %>
                  <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" placeholder="create new password"
                           ng-model="data.password"
                           required>
                  </div>
                  <% } %>

                  <button type="submit" class="btn btn-default" ng-click="submit()">Submit Button</button>
                  <button type="reset" class="btn btn-default">Reset Button</button>
                </form>

              </div>
              <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script type="text/javascript">
  window.user = <%- JSON.stringify(user) %>;
</script>