<%- include ../navigation.ejs %>

<!-- Page Content -->
<div id="page-wrapper" ng-app="LinkedinModule">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Linkedin Utilities</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Company name to Company ID Converter</h4>
      </div>
      <form class="form-horizontal" name="UserToIdConverter" ng-controller="UserToIdConverter">
        <div class="form-group">
          <label class="col-sm-2 control-label">Company Name</label>

          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="company name" ng-model="userName" required>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-default" ng-click="convert()">Search</button>
          </div>
        </div>
        <div class="form-group" ng-if="rawResult">
          <label class="col-sm-2 control-label">Company ID</label>

          <div class="col-sm-10">
            <pre ng-bind="rawResult"></pre>
          </div>
        </div>
        <div class="form-group" ng-if="result">
          <label class="col-sm-2 control-label">Raw Result</label>

          <div class="col-sm-10">
            <pre ng-bind="result"></pre>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>