<%- include ../navigation.ejs %>

<!-- Page Content -->
<div id="page-wrapper" ng-app="ObjectModule">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Object Utilities</h1>
      </div>
    </div>

    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#modify" data-toggle="tab">Modify</a></li>
        <li><a href="#list" data-toggle="tab">List</a></li>
        <li><a href="#list-app" data-toggle="tab">App List</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane fade in active" id="modify">

          <div class="row">
            <div class="col-md-12">
              <h4>Add Object</h4>
            </div>

            <div class="col-md-12">
              <form class="form-horizontal" name="form" ng-controller="ObjectAdd">

                <div class="form-group">
                  <label class="col-sm-2 control-label">App ID</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="app id" ng-model="data.app_id" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">App Secret</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="app id" ng-model="data.app_secret"
                           required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Object Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="object name" ng-model="data.object_name"
                           required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Media ID</label>

                  <div class="col-sm-10">
                    <select class="form-control" ng-model="selected.media_id"
                            ng-options="media.name for media in medias"></select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Stream Type</label>

                  <div class="col-sm-10">
                    <select class="form-control" ng-model="selected.stream_type"
                            ng-options="type.name for type in streamTypes"></select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Content</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="content" ng-model="data.content" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Extra Content</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="extra content" ng-model="data.extra_content">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="submit()">Add/ Update</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                  </div>
                </div>

              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4>Remove Object</h4>
            </div>

            <div class="col-md-12">
              <form class="form-horizontal" name="form" ng-controller="ObjectRemove">

                <div class="form-group">
                  <label class="col-sm-2 control-label">App ID</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="app id" ng-model="data.app_id" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">App Secret</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="app id" ng-model="data.app_secret"
                           required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Media ID</label>

                  <div class="col-sm-10">
                    <select class="form-control" ng-model="selected.media_id"
                            ng-options="media.name for media in medias"></select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Stream Type</label>

                  <div class="col-sm-10">
                    <select class="form-control" ng-model="selected.stream_type"
                            ng-options="type.name for type in streamTypes"></select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Content</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="content" ng-model="data.content" required>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="submit()">Remove</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>

        <div class="tab-pane fade in" id="list" ng-controller="ObjectList">
          <div class="row">
            <div class="col-md-12">
              <h4>List</h4>
            </div>

            <div class="col-md-12">
              <table id="object-list" cellspacing="0" width="100%"></table>
            </div>
          </div>
        </div>

        <div class="tab-pane fade in" id="list-app" ng-controller="ObjectAppList">
          <div class="row">
            <div class="col-md-12">
              <h4>Application Form</h4>
            </div>
            <div class="col-md-12">
              <form class="form-horizontal" name="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label">App ID</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="app id" ng-model="appId" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">App Secret</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="app id" ng-model="appSecret" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="submit()">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4>List</h4>
            </div>

            <div class="col-md-12">
              <table id="object-app-list" cellspacing="0" width="100%"></table>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>