<%- include ../navigation.ejs %>

<!-- Page Content -->
<div id="page-wrapper" ng-app="TwitterModule">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Twitter Utilities</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Users Lookup</h4>
      </div>
      <form class="form-horizontal" name="form" ng-controller="UsersLookup">
        <div class="form-group">
          <label class="col-sm-2 control-label">Screen Names</label>

          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="user id" ng-model="ids" required>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-default" ng-click="get()">Search</button>
          </div>
        </div>
        <div class="form-group" ng-if="result">
          <label class="col-sm-2 control-label">Raw Result</label>

          <div class="col-sm-10">
            <pre ng-bind="result"></pre>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Statuses Lookup</h4>
      </div>
      <form class="form-horizontal" name="form" ng-controller="StatusesLookup">
        <div class="form-group">
          <label class="col-sm-2 control-label">Status IDs</label>

          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="user id" ng-model="ids" required>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-default" ng-click="get()">Search</button>
          </div>
        </div>
        <div class="form-group" ng-if="result">
          <label class="col-sm-2 control-label">Raw Result</label>

          <div class="col-sm-10">
            <pre ng-bind="result"></pre>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>