<%- include ../navigation.ejs %>

<!-- Page Content -->
<div id="page-wrapper" ng-app="YoutubeModule">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">YouTube Utilities</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>User to Channel ID Converter</h4>
      </div>
      <form class="form-horizontal" name="userToChannelConverter" ng-controller="UserToChannelConverter">
        <div class="form-group">
          <label class="col-sm-2 control-label">User ID</label>

          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="user id" ng-model="userId" required>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-default" ng-click="convert()">Search</button>
          </div>
        </div>
        <div class="form-group" ng-if="rawResult.items[0].id">
          <label class="col-sm-2 control-label">Channel ID</label>

          <div class="col-sm-10">
            <pre ng-bind="rawResult.items[0].id"></pre>
          </div>
        </div>
        <div class="form-group" ng-if="result">
          <label class="col-sm-2 control-label">Raw Result</label>

          <div class="col-sm-10">
            <pre ng-bind="result"></pre>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>